<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Download Tutorials</h1>
    <form>
       <label>Tutorail No</label>
       <input type="text">
        <button id="1">Tut 1</button><br><br>
        <!-- <button id="2">Tut 2</button><br><br>
        <button id="3">Tut 3</button><br><br>
        <button id="4">Tut 4</button> -->


    <!-- </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let btn=document.querySelector('button');
    btn.addEventListener('click',async function(e){
        e.preventDefault();
        let id=document.querySelector('input[type="number"]').value;
        let resp=await axios.post('/user/fileDownload',id)
        .then(({id})=>{
            alert("Reset Link has been sent to registered email id");
        })
        .catch((err)=>{
            alert("User not found. Please enter correct details");
        });

        
    })
    </script>
    </script>
</body>
</html> --> -->