<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <h2>Please enter your registered email to reset your password</h2>
    <form>
        <label>Email</label>
        <input type="email">
        <br><br>
        <button>Send Reset Link</button>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let btn=document.querySelector('button');
    btn.addEventListener('click',async function(e){
        e.preventDefault();

        let Email=document.querySelector('input[type="email"]').value;

        let resp=await axios.post('/user/forgetpassword',{Email})
        .then(({Email})=>{
            alert("Reset Link has been sent to registered email id");
        })
        .catch((err)=>{
            alert("User not found. Please enter correct details");
        });

        
    })
    </script>
    </script>

</body>
</html>