<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form>
        <label>Password</label>
        <input type="password">
        <br><br><br>
        <label >ConfirmPassword</label>
        <input type="password" id="cp">
        <br><br><br>
        <button>Reset Password</button>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let btn=document.querySelector('button');
        btn.addEventListener('click',async function(e){
             e.preventDefault();
    
        let Password=document.querySelector('input[type="password"]').value;
        let ConfirmPassword=document.querySelector('input[id="cp"]').value;
        
            let resp=await axios.post('/user/resetpassword/:token',{Password,ConfirmPassword});
            // .then(({Password,ConfirmPassword})=>{
            //     alert("Password has been reset");
            // })
            // .catch((err)=>{
            //     alert("Please try again");
            // }); 
        });
        
    //     const url="http://localhost:3000/user/resetpassword/:token";
    //     try{
    //         const resp=await fetch(url,{
    //             method:"POST",
    //             body:{Password,ConfirmPassword},
    //             params:token,
    //             headers:{
    //                 "Content-Type":"application/json",
    //             },
    //         });
    //         const json=await resp.json();
    //         console.log(json);
    //     }
    //     catch(err){
    //         console.log(err);
    //     }
    // });
        
        </script>
        </script>
</body>
</html>